{{ binding }}

<h1>{{ object.name }}</h1>
<h3>{{ object.age }}</h3>

<input [type]="inputType" [value]="value" />

<button type="button" (click)="handler(this)">Click me!</button>
<br />

<input type="text" [(ngModel)]="binding" />

<br />

<!-- <app-examplev2 *ngIf="object.age >= 18; else under18"></app-examplev2>

<ng-template #under18>
    <Example></Example>
</ng-template> -->

<app-examplev2 [hidden]="object.age < 18" [name]="object.name"></app-examplev2>
<Example [hidden]="object.age >= 18" [name]="object.name"></Example>

<br />
<input type="button" value="-" (click)="object.age = object.age - 1" />
Age: {{ object.age }}
<input type="button" value="+" (click)="object.age = object.age + 1" />

<br />

<ul>
  <li
    *ngFor="
      let ele of data;
      index as indx;
      count as cnt;
      first as fst;
      last as lst;
      even as ev;
      odd as od
    "
  >
    <span>{{ ele.name }} - {{ ele.age }} - {{ ele.email }}</span>
    <br />
    <span>index {{ indx }} of {{ cnt }}</span>
    <br />
    <span *ngIf="fst">I am first</span>
    <br />
    <span *ngIf="lst">I am last</span>
    <br />
    <span *ngIf="ev">I am even</span>
    <br />
    <span *ngIf="od">I am odd</span>
    <br />
    <br />
    <br />
  </li>
</ul>

<button
  type="button"
  *ngFor="let eleLang of languages; last as lst"
  [class.marginRight]="!lst"
>
  {{ eleLang }}
</button>

<br />
<br />
<br />
<button (click)="toggleBackGround = !toggleBackGround">toggleBackGround</button>
<button (click)="toggleBorder = !toggleBorder">toggleBorder</button>
<br />
<!-- <div class="box"  [class.yellow_background]="toggleBackGround" [class.red_color]="toggleBorder"></div> -->
<div
  class="box"
  [class]="{ yellow_background: toggleBackGround, red_color: toggleBorder }"
></div>
<br />

<!-- <div class="box"  [style.backgroundColor]="'red'" [style.borderColor]="'yellow'" [style.borderWidth.px]="'2'"></div> -->
<div
  class="box"
  [style]="{
    backgroundColor: 'var(--background-color)',
    borderColor: 'yellow'
  }"
></div>

<br />
<br />
<br />

<app-examplev4></app-examplev4>
<br />
<button (click)="currentProgress = currentProgress + 1">+</button>
<button (click)="currentProgress = currentProgress - 1">-</button>
<br />

<app-examplev4 [progress]="currentProgress"></app-examplev4>

<br />

<AuthorList></AuthorList>

<br />

<binding [name]="nameChange"></binding>
<br />
<input type="text" [(ngModel)]="nameChange" />

<br />

<!-- <toggle #toggleComp [(checked)]="checked"></toggle>
<button #toggleComp (click)="toggleComp.handleToggle()">Toggle me</button> -->
<button (click)="showLast = !showLast">showLast</button>
<toggle #toggleComps [(checked)]="checked"></toggle>
<toggle #toggleComps [(checked)]="checked"></toggle>
<toggle #toggleComps [(checked)]="checked"></toggle>
<ng-container *ngIf="showLast">
  <toggle #toggleComps [(checked)]="checked"></toggle>
</ng-container>
<button (click)="handleClickToggle()">Toggle me</button>

<br />

<toggle #toggleComp [(checked)]="checked3"></toggle>

<br />

<contentProjection [(checked)]="checked1">
  <h1 class="header">Hello xin chào tất cả mọi người</h1>
  <span>Mình tên là</span>
  <p>Tiến</p>
</contentProjection>
<!-- <contentProjection [(checked)]="checked2" >
    <h1 class="header">Hello xin chào tất cả các bạn </h1>
    <span>Mình tên là</span>
    <p>Vân Anh</p>
</contentProjection> -->

<contentProjection [(checked)]="checked2">
  <h1 class="header">Hello xin chào tất cả các bạn</h1>
  <label ngProjectAs="span">Mình tên là</label>
  <p>Vân Anh</p>
</contentProjection>

<contentProjection [(checked)]="checked2">
  <h1 class="header">Hello xin chào tất cả các bạn</h1>
  <ng-container ngProjectAs="span">
    <label>Mình tên là</label>
    <br />
    <label>Mình tên là</label>
  </ng-container>
  <p>Vân Anh</p>
</contentProjection>
<br />

<div class="card mx-4">
  <div class="card-header">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTemp"></ng-container> items.
  </div>
  <div class="card-body">
    There are items
    <ng-container [ngTemplateOutlet]="counterTemp"></ng-container> was selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTemp"></ng-container> items.
  </div>
</div>

<ng-template #counterTemp>
  <span class="badge text-bg-secondary">{{ counter }}</span>
</ng-template>

<!-- Dùng ng-template, ngTemplateOutlet và ngTemplateOutletContext trong trường hợp dùng đi dùng lại giống như Image -->
<br />
<ng-template #linkTemplate let-l="link">
  <h4>{{ l }}</h4>
</ng-template>

<tabs [navs]="navs" [linkTemplate]="linkTemplate"></tabs>

<br />
<br />

<tabsGroup [(activeIndex)]="currentIndex">
  <tabsPanel title="first tab">
    <ng-template tabContent>
      first tab content
      <counter />
    </ng-template>
  </tabsPanel>
  <tabsPanel title="second tab">
    <ng-template tabContent>
      second tab content
      <counter />
    </ng-template>
  </tabsPanel>
  <tabsPanel title="third tab">
    <ng-template tabContent>
      third tab content
      <counter />
    </ng-template>
  </tabsPanel>
  <tabsPanel title="Fourth tab">
    <ng-template tabContent>
      Fourth tab content
      <counter />
    </ng-template>
  </tabsPanel>
  <tabsPanel title="fifth tab">
    <ng-template tabContent>
      fifth tab content
      <counter />
    </ng-template>
  </tabsPanel>
</tabsGroup>
