.marginRight {
    margin-right: 10px;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.yellow_background {
    background-color: yellow;
}

.red_color {
    border-color: red;
}

